@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --main-text-color: #373c49;
  --red-button-color: #e65757;
  --hover-red-button: #c44b4b;
  --ingredient-list-item: #f3eed9;
  --recipe-box-color: #ecefff;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

.centering-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App {
  min-width: 100vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.add-recipe-button {
  font-family: "Poppins", sans-serif; /* Weird that I have to set it here */
  font-size: large;
  color: #fff;
  padding: 7px 60px;
  font-weight: 500;
  background-color: var(--red-button-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.add-recipe-button:hover {
  background-color: var(--hover-red-button);
}

ul {
  list-style-type: none;
  padding: 0;
}
