.recipe-list-item {
  background-color: var(--recipe-box-color);
  width: 100%;
  margin-bottom: 0.8rem;
  border-radius: 10px;
}

.recipe-list-item-container {
  width: 100%;
  padding: 1rem;
}

.list-item-image-container {
  width: 70px;
  height: 70px;
  justify-content: center;
  overflow: hidden;
}
.list-item-image-container img {
  width: 100%;
  height: auto;
}

.recipe-item-text h3 {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0 10px;
}

.round-plus-button:hover {
  color: var(--hover-red-button);
}
