h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: var(--main-text-color);
}

h1 {
  margin-top: 4rem;
}

h4 {
  margin-top: 4rem;
}

h5 {
  margin-top: 0rem;
}

.recipe-page-container {
  max-width: 80%;
}

#textfield-grid {
  margin-top: 1rem;
}

.add-ingredient-button {
  font-family: "Poppins", sans-serif; /* Weird that I have to set it here */
  color: #fff;
  padding: 5px 40px;
  margin-top: 1.2rem;
  font-weight: 500;
  background-color: var(--red-button-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.add-ingredient-button:hover {
  background-color: var(--hover-red-button);
}

.ingredient-list-wrapper {
  margin-top: 2rem;
  min-height: 350px;
}

.recipe-button-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
